:root {
  --primary: #262626;
  --secondary: #919191;
  --destrutive: #ef4444;
  --outline: #0a0a0a;
  --card-border: #e5e5e5;
  --success: #37FF8B;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
}

.card {
  padding: 1.5em;
  border: 1px solid var(--card-border);
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 1.25rem;
}

button {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: .85;
}

button:focus {
  outline: 2px solid var(--outline);
  outline-offset: -4px;
}

.button-primary {
  --outline: white;
  color: white;
  background-color: var(--primary);
}

.button-secondary {
  color: var(--primary);
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border: 1px solid var(--card-border);
}

.button-secondary:hover {
  background-color: #eaeaea;
}

.button-destructive {
  --outline: white;
  color: white;
  background-color: var(--destrutive);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  background-color: rgba(0, 0, 0, .5);
}

#overlay.hidden {
  display: none;
}

#overlay-container {
  width: 100%;
  max-width: 540px;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#todo-app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#app-container {
  width: 100%;
  max-width: 540px;

  max-height: 90vh;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#app-container header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#app-container header h1 {
  text-align: center;
}

#task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#task-form input {
  height: 2rem;
  padding-inline: .5rem;
  border: 1px solid var(--primary);
  border-radius: .25rem;
}

#task-form textarea {
  padding-inline: .5rem;
  border-radius: .25rem;
}

#task-form input.error {
  border: 2px solid var(--destrutive);
}

#task-form input:focus-visible,
#task-form textarea:focus-visible {
  outline: 2px solid var(--outline);
  border-radius: 3px;
}


#filter-form {
  display: flex;
  height: 2rem;
  gap: .5rem;

  font-size: .75rem;
}

#filter-form input,
#filter-form select {
  padding-inline: .5rem;
  border: 1px solid var(--primary);
  border-radius: .25rem;
}

#filter-form input:focus-visible,
#filter-form select:focus-visible {
  outline: 2px solid var(--outline);
  border-radius: 3px;
}


#tasks-list {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 1rem;

  scrollbar-width: none;
  overflow-y: auto;
}

.task-item {
  border-radius: 1rem;
  padding: .5rem;

  border: 1px solid var(--card-border);
  color: var(--secondary);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.task-item.completed .task-item__details {
  opacity: .5;
  text-decoration: line-through;
  text-decoration-color: var(--primary);
}


.task-item input[type=checkbox] {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.task-item input[type=checkbox] {
  opacity: 0;
}

.task-item label:has(input[type=checkbox]) {
  background-image: url("../img/circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.task-item label:has(input[type=checkbox]:checked) {
  background-image: url("../img/circle-check.svg");
}

.task-item label:has(input[type=checkbox]:focus) {
  outline: 2px solid var(--outline);
  outline-offset: -4px;
}

.task-item label {
  word-break: break-all;
  padding: 15px 15px 15px 30px;
  display: block;
  line-height: 1.2;
  font-weight: 400;
}

.task-item__details {
  flex-grow: 1;
}

.task-item__details .task-item_title {
  color: var(--primary)
}

.task-item__details .task-item_description {
  font-size: .75rem;
}

.task-item__details .task-item_due {
  text-align: right;
  font-size: .75rem;
}

.task-item__controls {
  display: flex;
  gap: .5rem;
}

.task-item__controls button {
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.task-item__controls .button-edit {
  background-image: url('../img/edit.svg');

}

.task-item__controls .button-delete {
  background-image: url('../img/bin.svg');
}





#toast-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: flex-end;
}

.toast-message {
  padding: 1rem 2rem;
  border-radius: .5rem;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;

  animation: animate-toast .5s ease-in-out forwards;
}

.toast-success {
  color: white;
  background-color: var(--success);
}

.toast-error {
  color: white;
  background-color: var(--destrutive);
}

@keyframes animate-toast {
  0% {
    transform: translateY(150%);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}